# docker-compose.cartservice.yml

services:
  # rabbitmq:
  #   image: rabbitmq:3-management
  #   container_name: rabbitmq
  #   hostname: rabbitmq
  #   ports:
  #     - "5672:5672"
  #     - "15672:15672"
  #   environment:
  #     RABBITMQ_DEFAULT_USER: user
  #     RABBITMQ_DEFAULT_PASS: password
  #   healthcheck:
  #     test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5
  #   networks:
  #     - eda_net

  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
        ZOOKEEPER_CLIENT_PORT: 2181
    networks:
      - eda_net

  kafka:
     image: confluentinc/cp-kafka:7.3.0
     container_name: kafka
     ports:
       - "9092:9092"
     environment:
        KAFKA_BROKER_ID: 1
        KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
        KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
        KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
     depends_on:
       - zookeeper
     networks:
       - eda_net

  cartservice:
    container_name: cartservice
    build:
      context: .                 
      dockerfile: CartService/Dockerfile
    environment:
      ASPNETCORE_URLS: http://0.0.0.0:8080
      Kafka__BootstrapServers: kafka:9092
    ports:
      - "8080:8080"
    depends_on:
      kafka:
        condition: service_started
    networks:
      - eda_net

networks:
  eda_net:
    name: eda-net 
