version: '3.8'
services:
  rabbitmq:
    image: rabbitmq:3-management 
    container_name: rabbitmq
    hostname: rabbitmq 
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    healthcheck: 
      test: ["CMD", "rabbitmq-diagnostics", "check_port_listener"]
      interval: 10s
      timeout: 5s
      retries: 5

  cartservice:
    container_name: cartservice
    build:
        context: ./CartService
        dockerfile: Dockerfile
    ports:
    - "8080:8080"
    depends_on:
        rabbitmq:
            condition: service_healthy
    environment:
        RabbitMQ__HostName: rabbitmq

  orderservice:
    container_name: orderservice
    build:
        context: ./OrderService
        dockerfile: Dockerfile
    ports:
    - "8081:8081"
    depends_on:
        rabbitmq:
            condition: service_healthy
    environment:
        RabbitMQ__HostName: rabbitmq




    