# docker-compose.cartservice.yml

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
        ZOOKEEPER_CLIENT_PORT: 2181
    networks:
      - eda_net

  kafka:
     image: confluentinc/cp-kafka:7.3.0
     container_name: kafka
     ports:
       - "9092:9092"
     environment:
        KAFKA_BROKER_ID: 1
        KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
        KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
        KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
     depends_on:
       - zookeeper
     networks:
       - eda_net

  schema-registry:
    image: confluentinc/cp-schema-registry:7.3.0
    container_name: schema-registry
    depends_on:
      - kafka
    ports:
      - "8085:8081"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'kafka:9092'
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/subjects"]
      interval: 5s
      timeout: 10s
      retries: 5
    networks:
      - eda_net

  cartservice:
    image: ofekcofman98/eda-cartservice:latest
    build:
      context: . 
      dockerfile: CartService/Dockerfile

    environment:
      ASPNETCORE_URLS: http://0.0.0.0:8080
      Kafka__BootstrapServers: kafka:9092
      Kafka__SchemaRegistryUrl: http://schema-registry:8081
    ports:
      - "8080:8080"
    depends_on:
      kafka:
        condition: service_started
      schema-registry:
        condition: service_healthy
    networks:
      - eda_net

networks:
  eda_net:
    name: eda-net 
